/* -------------------------------------------------------------
    Color Palette 
   ------------------------------------------------------------- */

:root {
  --smoky-black: #0c0c0c;
  --raisin-black: #222222;
  --lapis-lazuli: #21759b;
  --dark-medium-gray: #a9a9a9;
  --cornell-red: #bb1919;
  --anti-flash-white: #f1f1f1;
  --very-light-gray: #e2e2e2;
  --gray80: #cccccc;
}

/* -------------------------------------------------------------
    Accessibility (Text meant only for screen readers)
   ------------------------------------------------------------- */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: var(--anti-flash-white);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px var(--smoky-black);
  clip: auto !important;
  color: var(--lapis-lazuli);
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* -------------------------------------------------------------
    Global Styles
   ------------------------------------------------------------- */

/*
 * Box-sizing Reset
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*
 * Browser Upgrade Prompt
*/

.browserupgrade {
  margin: 0.2em 0;
  background: var(--anti-flash-white);
  color: var(--smoky-black);
  padding: 0.2em 0;
}

/* -------------------------------------------------------------
    Header
   ------------------------------------------------------------- */

/* 
 * Nav Wrapper
 */

.nav-section {
  background: hsl(0, 0%, 15%);
  position: relative;
  padding-bottom: 2px;
}

/* 
 * Logo
 */

.logo a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
}

/* 
 * Main Navigation
 */

.nav-links {
  display: none;
}

.nav-links li {
  opacity: 0;
}

.nav-menu li a {
  display: block;
  color: #fff;
  padding: 0.7em 1em;
}

.nav-menu li a:hover {
  background: hsl(0, 0%, 25%);
}

.nav-menu li a[href="#more"] {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push search bar to the right */
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 50px;
  margin: 10px 14px 10px;
  width: 100%;
}

.search-input {
  flex-grow: 1;
  border: none !important;
  padding: 5px;
  outline: none;
  color: white !important;
  height: 100%;
  margin: 0 !important;
  padding: 0 0 0 20px !important;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  color: #0073e6; /* Adjust to match your theme */
}

#curr-menu-item {
  color: #8dbbff !important;
}

.navigation-controls {
  display: flex;
  align-items: center;
}

.sign-in-button {
  height: 50px;
  width: 140px;
  background: white;
  border-radius: 8px;
  margin-right: 10px;
}

.sign-in-button a {
  color: black;
}

/*
 * Burger Menu
 */

.burger {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--very-light-gray);
  margin: 5px;
  transition: all 0.5s ease;
}

.nav-active {
  display: block;
  transform: translateX(0%);
  height: 100vh;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* -------------------------------------------------------------
    Main
   ------------------------------------------------------------- */

.headline {
  background: url(../images/politics8.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.headline p {
  margin: 0;
  padding: 15px;
  background: var(--cornell-red);
  color: var(--anti-flash-white);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.headline h1 {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--anti-flash-white);
  padding-left: 15px;
}

.top-stories h2 {
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--anti-flash-white);
  text-shadow: #000 1px 1px 1px;
  background: url(../images/top-news.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.world h2,
.politics h2,
.business h2,
.sport h2,
.entertainment h2,
.more h2 {
  padding: 10px;
  margin: 10px;
  background: var(--dark-medium-gray);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.top-stories .headline {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}

.top-stories .headline-1 {
  background: url(../images/politics1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-stories .headline-2 {
  background: url(../images/politics3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-stories .headline-3 {
  background: url(../images/politics6.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.story a {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin: 10px;
}

.story-img {
  min-width: 120px;
  height: auto;
}

.story h3 {
  margin: 0;
  color: var(--smoky-black);
  font-size: 1rem;
  text-transform: capitalize;
}

.story p.exact-time {
  margin-top: 5px;
  color: var(--smoky-black);
  font-size: 0.7rem;
  font-weight: normal;
}

.more-headline {
  margin: 10px;
  font-size: 0.9rem;
}

.more-headline h3 {
  color: var(--smoky-black);
  margin-bottom: 0px;
  text-transform: capitalize;
}

.more-headline p.exact-time {
  margin-top: 0;
  color: var(--smoky-black);
}

/* -------------------------------------------------------------
    Footer
   ------------------------------------------------------------- */

/*
 * Footer Links
 */

.footer-links {
  padding: 20px;
  background: var(--raisin-black);
}

.footer-links a {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: var(--anti-flash-white);
}

/*
 * Social Media Links social-media-links
 */

/*
 * Main Footer Links
 */

.main-footer-links {
  padding-top: 20px;
}

/*
 * Our Address
 */

.our-address {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--anti-flash-white);
  border-top: 1px solid var(--anti-flash-white);
}

.our-address li {
  padding: 5px;
}

.our-address li:first-child {
  text-decoration: underline;
  padding: 20px;
}

/*
 * Footer Credit
 */

footer {
  position: relative;
  background: var(--smoky-black);
  padding: 5px;
}

footer p {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: var(--smoky-black);
  color: var(--anti-flash-white);
}

footer a.scroll-top:before {
  font-family: "Fontawesome";
  position: absolute;
  top: 15px;
  right: 25px;
  content: "\f151";
  color: var(--anti-flash-white);
  font-size: 2.6rem;
}

/* -------------------------------------------------------------
    Article
   ------------------------------------------------------------- */

.article h2 {
  text-transform: capitalize;
  padding-left: 10px;
  margin-bottom: 0;
}

.article p {
  padding-left: 10px;
  margin-top: 0;
}

article p {
  text-align: justify;
  padding: 10px;
}

p.intro-text {
  font-style: italic;
  font-size: 1.1rem;
  padding: 20px;
}

/*
 * Comments - Wide screen(min-width: 56em)
 */

.comments {
  padding: 10px;
}

.article .comments p {
  padding-left: 0;
}

.comment-name {
  padding-top: 20px;
  margin-bottom: 10px;
}

.comment-text {
  padding-left: 10px;
  background: var(--gray80);
  border-radius: 5px;
  font-size: 0.8rem;
}

.article .comment-text p {
  padding-bottom: 5px;
}

/*
 * Comment Form
 */

.article h3 {
  padding: 10px;
}

.form-container {
  border-radius: 5px;
  background-color: var(--anti-flash-white);
  padding: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--smoky-black);
  background: transparent;
  color: var(--smoky-black);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--lapis-lazuli);
  color: var(--anti-flash-white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*
 * Sidebar - Wide screen(min-width: 56em)
 */

.sidebar {
  margin-bottom: 100px;
}

.sidebar h2 {
  padding: 20px;
  margin-top: 50px;
  background: var(--dark-medium-gray);
}

.sidebar .sidebar-headline {
  border-bottom: 1px solid var(--smoky-black);
  padding: 0px 10px;
}

.sidebar a {
  color: var(--smoky-black);
}

.sidebar h2:last-of-type {
  margin-top: 100px;
}

.top-comments {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.top-comments p {
  font-size: 2rem;
  padding: 20px 0 0 0;
  margin: 0;
  text-align: end;
}

/* -------------------------------------------------------------
    Helpers Classes
   ------------------------------------------------------------- */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none;
}

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* -------------------------------------------------------------
    Media Queries
   ------------------------------------------------------------- */

@media only screen and (min-width: 37em) {
  .latest-news h1:first-child {
    font-size: 1.5rem;
  }

  .top-stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .top-stories h2 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .headline {
    min-height: 400px;
  }

  .headline-1,
  .headline-2,
  .headline-3 {
    min-height: 200px;
  }

  .world {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .world h2 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .world .story-1 {
    grid-column: 1/4;
  }

  .politics,
  .business,
  .sport,
  .entertainment,
  .more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .politics h2,
  .business h2,
  .sport h2,
  .entertainment h2,
  .more h2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

@media only screen and (min-width: 56em) {
  /*
   * Global Styles - Wide screen(min-width: 56em)
   */

  .content-wrap {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 30px 30px 0px 30px;
  }

  /*
   * Nav Wrapper - Wide screen(min-width: 56em)
   */

  .nav-section {
    display: flex;
    background: hsl(0, 0%, 15%);
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  /*
   * Logo - Wide screen(min-width: 56em)
   */

  .logo a {
    font-size: 1.7em;
    padding-left: 20px;
    padding-top: 7px;
    margin-bottom: 4px;
  }

  /*
   * Main Navigation - Wide screen(min-width: 56em)
   */

  .nav-links {
    height: 38px;
  }

  .nav-menu ul {
    display: flex;
    justify-content: space-around;
  }

  .nav-menu li {
    position: relative;
  }

  .nav-menu li a[href="#more"] {
    display: block;
    width: 120px;
  }

  .nav-menu ul ul {
    display: none;
    position: absolute;
    z-index: 100;
  }

  .nav-menu ul ul li {
    flex: 1 1 auto;
  }

  .nav-menu ul .toggled-on {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: hsl(0, 0%, 15%);
  }

  .dropdown-toggle {
    margin: 0;
    padding: 0 0.5em;
    border: 0;
    font-family: "FontAwesome";
    content: "";
    text-transform: lowercase; /* stop screenreaders to read the text as capital letters */
    background-color: transparent;
  }

  .dropdown-toggle:after {
    position: relative;
    top: 0;
    left: 0;
    width: 42px;
    color: var(--anti-flash-white);
    content: "\f107";
    line-height: 1em;
  }

  .dropdown-toggle:hover,
  .dropdown-toggle:focus {
    background: hsl(0, 0%, 25%);
  }

  .dropdown-toggle.toggle-on:after {
    content: "\f106";
  }

  .burger {
    display: none;
  }

  .nav-links li {
    opacity: 1;
  }

  /*
   * Main - Wide screen(min-width: 56em)
   */

  .main-article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    grid-gap: 20px;
  }

  .main-article .article {
    font-size: 1.2rem;
  }

  /*
   * Article - Wide screen(min-width: 56em)
   */

  .article h2 {
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .article p:first-of-type {
    padding-bottom: 50px;
    padding-left: 0;
  }

  .article p.intro-text {
    font-size: 1.5rem;
    padding-top: 50px;
  }

  .article h3 {
    padding-left: 0;
  }

  /*
   * Comments - Wide screen(min-width: 56em)
   */

  .comment-name {
    padding-top: 40px;
  }

  .comment-text {
    padding-left: 20px;
    font-size: 1rem;
  }

  .article .comment-text p {
    padding-bottom: 5px;
  }

  /*
   * Top News - Wide screen(min-width: 56em)
   */

  .top-news-article {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .top-news {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .top-news .latest-news {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px;
  }

  .latest-news h1:first-child {
    font-size: 2rem;
  }

  .headline-1,
  .headline-2,
  .headline-3 {
    min-height: 10%;
  }

  .top-stories .headline-1 {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .top-stories .headline-2 {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .top-stories .headline-3 {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  /*
   * World - Wide screen(min-width: 56em)
   */

  .world {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .world h2 {
    grid-column: 1 / span 5;
  }

  .world .story-1 {
    grid-column: 1/4;
  }

  .world .story-2 {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .world .story-3 {
    grid-column: 4/6;
    grid-row: 2/4;
  }

  .world .story-3 a {
    display: flex;
    flex-direction: column;
  }

  /*
   * Politics - Wide screen(min-width: 56em)
   */

  .politics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .politics h2 {
    grid-column: 1 / span 5;
  }

  .politics .story a {
    display: flex;
    flex-direction: column;
  }

  /*
   * Sport - Wide screen(min-width: 56em)
   */

  .sport {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .sport h2 {
    grid-column: 1 / span 5;
  }

  .sport .story a {
    display: flex;
    flex-direction: column;
  }

  /*
   * More - Wide screen(min-width: 56em)
   */

  .more a {
    border-bottom: 1px solid var(--smoky-black);
    width: 75%;
    margin-left: 10px;
    color: var(--smoky-black);
  }

  .more a:nth-child(8),
  .more a:nth-child(9) {
    border: none;
  }

  /*
   * Footer - Wide screen(min-width: 56em)
   */

  footer,
  .footer-links {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .info-links {
    padding-top: 0;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .main-footer-links {
    padding-top: 0;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .social-media-links {
    padding-top: 0;
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .our-address {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 100px;
    padding: 0;
    margin: -12px;
    border: none;
  }
}

/* 
  *  Social Media Icons
  */

.social-container {
  margin: 0 auto;
  width: 285px;
  height: 260px;
  padding-left: 50px;
  padding-top: 5px;
}

/* Button Styles */
.social-container a {
  position: relative;
  height: 2em;
  width: 2em;
  line-height: 2em;
  float: left;
  margin-right: 19px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}

.social-container .twitter {
  color: #00aced;
  border-color: #00aced;
}

.social-container .facebook {
  color: #3b5998;
  border-color: #3b5998;
}

.social-container .instagram {
  color: #c44d11;
  border-color: #7e2f08;
}

.social-container .linkedin {
  color: #007fb1;
  border-color: #007fb1;
}

.social-container a:hover {
  background: transparent;
  transform: scale(1.3, 1.3);
}

.social-container .codepen:hover {
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8);
}

/* Main container for Sign In / Sign Up forms */
.user-account-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 30px auto;
}

/* Toggle Button Container */
.user-account-toggle-container {
  display: flex;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #333; /* Dark grey for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Default Toggle Button Styling */
.user-account-toggle-button {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #333; /* Match container color */
  color: #ccc; /* Light grey text for better readability */
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active Toggle Button Styling */
.user-account-toggle-button.active {
  background: linear-gradient(
    90deg,
    #1e90ff,
    #007bff
  ); /* Bright blue gradient for active state */
  color: #fff; /* White text on active button */
  font-weight: bold;
}

/* Form section styling */
.user-account-form-section {
  display: none; /* Initially hidden */
}

.user-account-form-section.active {
  display: block; /* Show active form */
}

/* Shared Form Styles */
.user-account-form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  display: inline-block;
}

.user-account-form input[type="text"],
.user-account-form input[type="email"],
.user-account-form input[type="password"],
.user-account-form select {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.user-account-password-container {
  position: relative;
}

/* Password Requirements Styling */
.user-account-password-requirements {
  font-size: 14px;
  color: #666;
  margin: 10px 0 5px;
}

.user-account-password-requirements-list {
  list-style: none;
  color: #666;
  padding-left: 15px;
  margin-bottom: 20px;
}

.user-account-password-requirements-list li::before {
  content: "•";
  margin-right: 5px;
  color: #333;
}

/* Button Styling */
.user-account-button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.user-account-button:hover {
  background-color: #333;
}

/* Checkbox Styling */
.user-account-checkbox {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-account-checkbox input {
  margin-right: 8px;
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .user-account-container {
    margin: 10px;
    width: auto;
    max-width: unset;
  }

  .user-account-toggle-container {
    flex-direction: row;
  }

  .user-account-toggle-button {
    padding: 10px;
    font-size: 14px;
  }
}

/* Toggle Button Container */
.toggle-container {
  display: flex;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #333; /* Dark grey for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Default Toggle Button Styling */
.toggle-button {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #333; /* Match container color */
  color: #ccc; /* Light grey text for better readability */
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active Toggle Button Styling */
.toggle-button.active {
  background: linear-gradient(
    90deg,
    #1e90ff,
    #007bff
  ); /* Bright blue gradient for active state */
  color: #fff; /* White text on active button */
  font-weight: bold;
}

/* Button Styling */
.user-account-button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.user-account-button:hover {
  background-color: #333;
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .user-account-container {
    margin: 10px;
    width: auto;
    max-width: unset;
  }

  .toggle-container {
    flex-direction: row;
  }

  .toggle-button {
    padding: 10px;
    font-size: 14px;
  }
}

/* Author profile */
.main-author-profile {
  margin: 50px 10px;
}

.author-profile-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  background: #fff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  padding: 16px;
  justify-content: space-between;
}

.author-profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
}

.author-profile-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.author-profile-fullname {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  align-self: flex-start;
}

.author-profile-company {
  font-size: 18px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.author-profile-icon-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.author-profile-icon {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  min-width: 40px;
  height: 40px;
}

.author-profile-description {
  flex-basis: 100%;
  padding-top: 10px;
  line-height: 24px;
  font-size: 16px;
  margin-top: 10px;
}

.breadcrumb {
  padding: 30px 10px 0;
  color: #666;
}

.breadcrumb a {
  color: #0073e6;
  text-decoration: none;
}

.breadcrumb a::after {
  content: url("../icon/right-arrow.svg");
  margin: 0 6px;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .current {
  color: #333;
  font-weight: bold;
}

/** Search page */
.search-bar-standalone {
  margin: 20px 8px 10px;
  width: auto;
}

.search-input-standalone {
  color: black !important;
}

.serach-result-title {
  margin-left: 8px;
}

.search-result-text {
  font-size: 1.2rem;
}
/** End search page */
