/* -------------------------------------------------------------
    Color Palette 
   ------------------------------------------------------------- */

:root {
  --smoky-black: #0c0c0c;
  --raisin-black: #222222;
  --lapis-lazuli: #21759b;
  --dark-medium-gray: #a9a9a9;
  --cornell-red: #bb1919;
  --anti-flash-white: #f1f1f1;
  --very-light-gray: #e2e2e2;
  --gray80: #cccccc;
}

/* -------------------------------------------------------------
    Accessibility (Text meant only for screen readers)
   ------------------------------------------------------------- */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: var(--anti-flash-white);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px var(--smoky-black);
  clip: auto !important;
  color: var(--lapis-lazuli);
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* -------------------------------------------------------------
    Global Styles
   ------------------------------------------------------------- */

/*
 * Box-sizing Reset
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*
 * Browser Upgrade Prompt
*/

.browserupgrade {
  margin: 0.2em 0;
  background: var(--anti-flash-white);
  color: var(--smoky-black);
  padding: 0.2em 0;
}

/* -------------------------------------------------------------
    Header
   ------------------------------------------------------------- */

/* 
 * Nav Wrapper
 */

.nav-section {
  background: hsl(0, 0%, 15%);
  position: relative;
  padding-bottom: 2px;
}

/* 
 * Logo
 */

.logo a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
}

/* 
 * Main Navigation
 */

.nav-links {
  display: none;
}

.nav-links li {
  opacity: 0;
}

.nav-menu li a {
  display: block;
  color: #fff;
  padding: 0.7em 1em;
}

.nav-menu li a:hover {
  background: hsl(0, 0%, 25%);
}

.nav-menu li a[href="#more"] {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push search bar to the right */
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 50px;
  margin: 10px 14px 10px;
  width: 100%;
}

.search-input {
  flex-grow: 1;
  border: none !important;
  padding: 5px;
  outline: none;
  color: white !important;
  height: 100%;
  margin: 0 !important;
  padding: 0 0 0 20px !important;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  color: #0073e6; /* Adjust to match your theme */
}

#curr-menu-item {
  color: #8dbbff !important;
}

.navigation-controls {
  display: flex;
  align-items: center;
}

.sign-in-button {
  height: 50px;
  width: 140px;
  background: white;
  border-radius: 8px;
  margin-right: 10px;
}

.sign-in-button a {
  color: black;
}

/*
 * Burger Menu
 */

.burger {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--very-light-gray);
  margin: 5px;
  transition: all 0.5s ease;
}

.nav-active {
  display: block;
  transform: translateX(0%);
  height: 100vh;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* -------------------------------------------------------------
    Main
   ------------------------------------------------------------- */

.headline {
  background: url(../images/politics8.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.headline p {
  margin: 0;
  padding: 15px;
  background: var(--cornell-red);
  color: var(--anti-flash-white);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.headline h1 {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--anti-flash-white);
  padding-left: 15px;
}

.top-stories h2 {
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--anti-flash-white);
  text-shadow: #000 1px 1px 1px;
  background: url(../images/top-news.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.world h2,
.politics h2,
.business h2,
.sport h2,
.entertainment h2,
.more h2 {
  padding: 10px;
  margin: 10px;
  background: var(--dark-medium-gray);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.top-stories .headline {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}

.top-stories .headline-1 {
  background: url(../images/politics1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-stories .headline-2 {
  background: url(../images/politics3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-stories .headline-3 {
  background: url(../images/politics6.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.story a {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin: 10px;
}

.story-img {
  min-width: 120px;
  max-width: 450px;
  height: auto;
}

.story h3 {
  margin: 0;
  color: var(--smoky-black);
  font-size: 1rem;
  text-transform: capitalize;
}

.story p.exact-time {
  margin-top: 5px;
  color: var(--smoky-black);
  font-size: 0.7rem;
  font-weight: normal;
}

.more-headline {
  margin: 10px;
  font-size: 0.9rem;
}

.more-headline h3 {
  color: var(--smoky-black);
  margin-bottom: 0px;
  text-transform: capitalize;
}

.more-headline p.exact-time {
  margin-top: 0;
  color: var(--smoky-black);
}

/* -------------------------------------------------------------
    Footer
   ------------------------------------------------------------- */

/*
 * Footer Links
 */

.footer-links {
  padding: 20px;
  background: var(--raisin-black);
}

.footer-links a {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: var(--anti-flash-white);
}

/*
 * Social Media Links social-media-links
 */

/*
 * Main Footer Links
 */

.main-footer-links {
  padding-top: 20px;
}

/*
 * Our Address
 */

.our-address {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--anti-flash-white);
  border-top: 1px solid var(--anti-flash-white);
}

.our-address li {
  padding: 5px;
}

.our-address li:first-child {
  text-decoration: underline;
  padding: 20px;
}

/*
 * Footer Credit
 */

footer {
  position: relative;
  background: var(--smoky-black);
  padding: 5px;
}

footer p {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: var(--smoky-black);
  color: var(--anti-flash-white);
}

footer a.scroll-top:before {
  font-family: "Fontawesome";
  position: absolute;
  top: 15px;
  right: 25px;
  content: "\f151";
  color: var(--anti-flash-white);
  font-size: 2.6rem;
}

/* -------------------------------------------------------------
    Article
   ------------------------------------------------------------- */

.article h2 {
  text-transform: capitalize;
  padding-left: 10px;
  margin-bottom: 0;
}

.article p {
  padding-left: 10px;
  margin-top: 0;
}

article p {
  text-align: justify;
  padding: 10px;
}

p.intro-text {
  font-style: italic;
  font-size: 1.1rem;
  padding: 20px;
}

/*
 * Comments - Wide screen(min-width: 56em)
 */

.comments {
  padding: 10px;
}

.article .comments p {
  padding-left: 0;
}

.comment-name {
  padding-top: 20px;
  margin-bottom: 10px;
}

.comment-text {
  padding-left: 10px;
  background: var(--gray80);
  border-radius: 5px;
  font-size: 0.8rem;
}

.article .comment-text p {
  padding-bottom: 5px;
}

/*
 * Comment Form
 */

.article h3 {
  padding: 10px;
}

.form-container {
  border-radius: 5px;
  background-color: var(--anti-flash-white);
  padding: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--smoky-black);
  background: transparent;
  color: var(--smoky-black);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--lapis-lazuli);
  color: var(--anti-flash-white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*
 * Sidebar - Wide screen(min-width: 56em)
 */

.sidebar {
  margin-bottom: 100px;
}

.sidebar h2 {
  padding: 20px;
  margin-top: 50px;
  background: var(--dark-medium-gray);
}

.sidebar .sidebar-headline {
  border-bottom: 1px solid var(--smoky-black);
  padding: 0px 10px;
}

.sidebar a {
  color: var(--smoky-black);
}

.sidebar h2:last-of-type {
  margin-top: 100px;
}

.top-comments {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.top-comments p {
  font-size: 2rem;
  padding: 20px 0 0 0;
  margin: 0;
  text-align: end;
}

/* -------------------------------------------------------------
    Helpers Classes
   ------------------------------------------------------------- */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none;
}

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* -------------------------------------------------------------
    Media Queries
   ------------------------------------------------------------- */

@media only screen and (min-width: 37em) {
  .latest-news h1:first-child {
    font-size: 1.5rem;
  }

  .top-stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .top-stories h2 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .headline {
    min-height: 400px;
  }

  .headline-1,
  .headline-2,
  .headline-3 {
    min-height: 200px;
  }

  .world {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .world h2 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .world .story-1 {
    grid-column: 1/4;
  }

  .politics,
  .business,
  .sport,
  .entertainment,
  .more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .politics h2,
  .business h2,
  .sport h2,
  .entertainment h2,
  .more h2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

@media only screen and (min-width: 56em) {
  /*
   * Global Styles - Wide screen(min-width: 56em)
   */

  .content-wrap {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 30px 30px 0px 30px;
  }

  /*
   * Nav Wrapper - Wide screen(min-width: 56em)
   */

  .nav-section {
    display: flex;
    background: hsl(0, 0%, 15%);
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  /*
   * Logo - Wide screen(min-width: 56em)
   */

  .logo a {
    font-size: 1.7em;
    padding-left: 20px;
    padding-top: 7px;
    margin-bottom: 4px;
  }

  /*
   * Main Navigation - Wide screen(min-width: 56em)
   */

  .nav-links {
    height: 38px;
  }

  .nav-menu ul {
    display: flex;
    justify-content: space-around;
  }

  .nav-menu li {
    position: relative;
  }

  .nav-menu li a[href="#more"] {
    display: block;
    width: 120px;
  }

  .nav-menu ul ul {
    display: none;
    position: absolute;
    z-index: 100;
  }

  .nav-menu ul ul li {
    flex: 1 1 auto;
  }

  .nav-menu ul .toggled-on {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: hsl(0, 0%, 15%);
  }

  .dropdown-toggle {
    margin: 0;
    padding: 0 0.5em;
    border: 0;
    font-family: "FontAwesome";
    content: "";
    text-transform: lowercase; /* stop screenreaders to read the text as capital letters */
    background-color: transparent;
  }

  .dropdown-toggle:after {
    position: relative;
    top: 0;
    left: 0;
    width: 42px;
    color: var(--anti-flash-white);
    content: "\f107";
    line-height: 1em;
  }

  .dropdown-toggle:hover,
  .dropdown-toggle:focus {
    background: hsl(0, 0%, 25%);
  }

  .dropdown-toggle.toggle-on:after {
    content: "\f106";
  }

  .burger {
    display: none;
  }

  .nav-links li {
    opacity: 1;
  }

  /*
   * Main - Wide screen(min-width: 56em)
   */

  .main-article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    grid-gap: 20px;
  }

  .main-article .article {
    font-size: 1.2rem;
  }

  /*
   * Article - Wide screen(min-width: 56em)
   */

  .article h2 {
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .article p:first-of-type {
    padding-bottom: 50px;
    padding-left: 0;
  }

  .article p.intro-text {
    font-size: 1.5rem;
    padding-top: 50px;
  }

  .article h3 {
    padding-left: 0;
  }

  /*
   * Comments - Wide screen(min-width: 56em)
   */

  .comment-name {
    padding-top: 40px;
  }

  .comment-text {
    padding-left: 20px;
    font-size: 1rem;
  }

  .article .comment-text p {
    padding-bottom: 5px;
  }

  /*
   * Top News - Wide screen(min-width: 56em)
   */

  .top-news-article {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .top-news {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .top-news .latest-news {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px;
  }

  .latest-news h1:first-child {
    font-size: 2rem;
  }

  .headline-1,
  .headline-2,
  .headline-3 {
    min-height: 10%;
  }

  .top-stories .headline-1 {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .top-stories .headline-2 {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .top-stories .headline-3 {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  /*
   * World - Wide screen(min-width: 56em)
   */

  .world {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .world h2 {
    grid-column: 1 / span 5;
  }

  .world .story-1 {
    grid-column: 1/4;
  }

  .world .story-2 {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .world .story-3 {
    grid-column: 4/6;
    grid-row: 2/4;
  }

  .world .story-3 a {
    display: flex;
    flex-direction: column;
  }

  /*
   * Politics - Wide screen(min-width: 56em)
   */

  .politics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .politics h2 {
    grid-column: 1 / span 5;
  }

  .politics .story a {
    display: flex;
    flex-direction: column;
  }

  /*
   * Sport - Wide screen(min-width: 56em)
   */

  .sport {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .sport h2 {
    grid-column: 1 / span 5;
  }

  .sport .story a {
    display: flex;
    flex-direction: column;
  }

  /*
   * More - Wide screen(min-width: 56em)
   */

  .more a {
    border-bottom: 1px solid var(--smoky-black);
    width: 75%;
    margin-left: 10px;
    color: var(--smoky-black);
  }

  .more a:nth-child(8),
  .more a:nth-child(9) {
    border: none;
  }

  /*
   * Footer - Wide screen(min-width: 56em)
   */

  footer,
  .footer-links {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .info-links {
    padding-top: 0;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .main-footer-links {
    padding-top: 0;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .social-media-links {
    padding-top: 0;
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .our-address {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 100px;
    padding: 0;
    margin: -12px;
    border: none;
  }
}

/* 
  *  Social Media Icons
  */

.social-container {
  margin: 0 auto;
  width: 285px;
  height: 260px;
  padding-left: 50px;
  padding-top: 5px;
}

/* Button Styles */
.social-container a {
  position: relative;
  height: 2em;
  width: 2em;
  line-height: 2em;
  float: left;
  margin-right: 19px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}

.social-container .twitter {
  color: #00aced;
  border-color: #00aced;
}

.social-container .facebook {
  color: #3b5998;
  border-color: #3b5998;
}

.social-container .instagram {
  color: #c44d11;
  border-color: #7e2f08;
}

.social-container .linkedin {
  color: #007fb1;
  border-color: #007fb1;
}

.social-container a:hover {
  background: transparent;
  transform: scale(1.3, 1.3);
}

.social-container .codepen:hover {
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8);
}

/* Main container for Sign In / Sign Up forms */
.user-account-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 30px auto;
}

/* Toggle Button Container */
.user-account-toggle-container {
  display: flex;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #333; /* Dark grey for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Default Toggle Button Styling */
.user-account-toggle-button {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #333; /* Match container color */
  color: #ccc; /* Light grey text for better readability */
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active Toggle Button Styling */
.user-account-toggle-button.active {
  background: linear-gradient(
    90deg,
    #1e90ff,
    #007bff
  ); /* Bright blue gradient for active state */
  color: #fff; /* White text on active button */
  font-weight: bold;
}

/* Form section styling */
.user-account-form-section {
  display: none; /* Initially hidden */
}

.user-account-form-section.active {
  display: block; /* Show active form */
}

/* Shared Form Styles */
.user-account-form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  display: inline-block;
}

.user-account-form input[type="text"],
.user-account-form input[type="email"],
.user-account-form input[type="password"],
.user-account-form select {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.user-account-password-container {
  position: relative;
}

/* Password Requirements Styling */
.user-account-password-requirements {
  font-size: 14px;
  color: #666;
  margin: 10px 0 5px;
}

.user-account-password-requirements-list {
  list-style: none;
  color: #666;
  padding-left: 15px;
  margin-bottom: 20px;
}

.user-account-password-requirements-list li::before {
  content: "•";
  margin-right: 5px;
  color: #333;
}

/* Button Styling */
.user-account-button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.user-account-button:hover {
  background-color: #333;
}

/* Checkbox Styling */
.user-account-checkbox {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-account-checkbox input {
  margin-right: 8px;
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .user-account-container {
    margin: 10px;
    width: auto;
    max-width: unset;
  }

  .user-account-toggle-container {
    flex-direction: row;
  }

  .user-account-toggle-button {
    padding: 10px;
    font-size: 14px;
  }
}

/* Toggle Button Container */
.toggle-container {
  display: flex;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #333; /* Dark grey for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Default Toggle Button Styling */
.toggle-button {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #333; /* Match container color */
  color: #ccc; /* Light grey text for better readability */
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active Toggle Button Styling */
.toggle-button.active {
  background: linear-gradient(
    90deg,
    #1e90ff,
    #007bff
  ); /* Bright blue gradient for active state */
  color: #fff; /* White text on active button */
  font-weight: bold;
}

/* Button Styling */
.user-account-button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.user-account-button:hover {
  background-color: #333;
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .user-account-container {
    margin: 10px;
    width: auto;
    max-width: unset;
  }

  .toggle-container {
    flex-direction: row;
  }

  .toggle-button {
    padding: 10px;
    font-size: 14px;
  }
}

/* Author profile */
.main-author-profile {
  margin: 50px 10px;
}

.author-profile-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  background: #fff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  padding: 16px;
  justify-content: space-between;
}

.author-profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
}

.author-profile-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.author-profile-fullname {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  align-self: flex-start;
}

.author-profile-company {
  font-size: 18px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.author-profile-icon-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.author-profile-icon {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  min-width: 40px;
  height: 40px;
}

.author-profile-description {
  flex-basis: 100%;
  padding-top: 10px;
  line-height: 24px;
  font-size: 16px;
  margin-top: 10px;
}

.breadcrumb {
  padding: 30px 10px 0;
  color: #666;
}

.breadcrumb a {
  color: #0073e6;
  text-decoration: none;
}

.breadcrumb a::after {
  content: url("../icon/right-arrow.svg");
  margin: 0 6px;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .current {
  color: #333;
  font-weight: bold;
}

/** Search page */
.search-bar-standalone {
  margin: 20px 8px 10px;
  width: auto;
}

.search-input-standalone {
  color: black !important;
}

.serach-result-title {
  margin-left: 8px;
}

.search-result-text {
  font-size: 1.2rem;
}
/** End search page */


/* -------------------------------------------------------------
    Membership
   ------------------------------------------------------------- */
  
     .pricingTable {
       margin: 40px auto;
     }
  
     .pricingTable>.pricingTable-title {
       text-align: center;
       color: #6e768d;
       font-size: 3em;
       font-size: 300%;
       margin-bottom: 20px;
       letter-spacing: 0.04em;
     }
  
     .pricingTable>.pricingTable-subtitle {
       text-align: center;
       color: #b4bdc6;
       font-size: 1.8em;
       letter-spacing: 0.04em;
       margin-bottom: 60px;
     }
  
     @media screen and (max-width: 480px) {
       .pricingTable>.pricingTable-subtitle {
         margin-bottom: 30px;
       }
     }
  
     .pricingTable-firstTable {
       list-style: none;
       padding-left: 2em;
       padding-right: 2em;
       text-align: center;
     }
  
     .pricingTable-firstTable_table {
       vertical-align: middle;
       width: 31%;
       background-color: #ffffff;
       display: inline-block;
       padding: 0px 30px 40px;
       text-align: center;
       max-width: 320px;
       transition: all 0.3s ease;
       border-radius: 5px;
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table {
         display: block;
         width: 90%;
         margin: 0 auto;
         max-width: 90%;
         margin-bottom: 20px;
         padding: 10px;
         padding-left: 20px;
       }
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table>* {
         display: inline-block;
         vertical-align: middle;
       }
     }
  
     @media screen and (max-width: 480px) {
       .pricingTable-firstTable_table>* {
         display: block;
         float: none;
       }
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table:after {
         display: table;
         content: "";
         clear: both;
       }
     }
  
     .pricingTable-firstTable_table:hover {
       transform: scale(1.08);
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table:hover {
         transform: none;
       }
     }
  
     .pricingTable-firstTable_table:not(:last-of-type) {
       margin-right: 3.5%;
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table:not(:last-of-type) {
         margin-right: auto;
       }
     }
  
     .pricingTable-firstTable_table:nth-of-type(2) {
       position: relative;
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table:nth-of-type(2) h1 {
         padding-top: 8%;
       }
     }
  
     .pricingTable-firstTable_table:nth-of-type(2):before {
       content: "Most Popular";
       position: absolute;
       color: white;
       display: block;
       background-color: #3bbdee;
       text-align: center;
       right: 15px;
       top: -25px;
       height: 65px;
       width: 65px;
       border-radius: 50%;
       box-sizing: border-box;
       font-size: 0.5em;
       padding-top: 22px;
       text-transform: uppercase;
       letter-spacing: 0.13em;
       transition: all 0.5s ease;
     }
  
     @media screen and (max-width: 988px) {
       .pricingTable-firstTable_table:nth-of-type(2):before {
         font-size: 0.6em;
       }
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table:nth-of-type(2):before {
         left: 10px;
         width: 45px;
         height: 45px;
         top: -10px;
         padding-top: 13px;
       }
     }
  
     @media screen and (max-width: 480px) {
       .pricingTable-firstTable_table:nth-of-type(2):before {
         font-size: 0.8em;
       }
     }
  
     .pricingTable-firstTable_table:nth-of-type(2):hover:before {
       transform: rotate(360deg);
     }
  
     .pricingTable-firstTable_table__header {
       font-size: 1.6em;
       padding: 40px 0px;
       border-bottom: 2px solid #ebedec;
       letter-spacing: 0.03em;
     }
  
     @media screen and (max-width: 1068px) {
       .pricingTable-firstTable_table__header {
         font-size: 1.45em;
       }
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table__header {
         padding: 0px;
         border-bottom: none;
         float: left;
         width: 33%;
         padding-top: 3%;
         padding-bottom: 2%;
       }
     }
  
     @media screen and (max-width: 610px) {
       .pricingTable-firstTable_table__header {
         font-size: 1.3em;
       }
     }
  
     @media screen and (max-width: 480px) {
       .pricingTable-firstTable_table__header {
         float: none;
         width: 100%;
         font-size: 1.8em;
         margin-bottom: 5px;
       }
     }
  
     .pricingTable-firstTable_table__pricing {
       font-size: 3em;
       padding: 30px 0px;
       border-bottom: 2px solid #ebedec;
       line-height: 0.7;
     }
  
     @media screen and (max-width: 1068px) {
       .pricingTable-firstTable_table__pricing {
         font-size: 2.8em;
       }
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table__pricing {
         border-bottom: none;
         padding: 0;
         float: left;
         clear: left;
         width: 33%;
       }
     }
  
     @media screen and (max-width: 610px) {
       .pricingTable-firstTable_table__pricing {
         font-size: 2.4em;
       }
     }
  
     @media screen and (max-width: 480px) {
       .pricingTable-firstTable_table__pricing {
         float: none;
         width: 100%;
         font-size: 3em;
         margin-bottom: 10px;
       }
     }
  
     .pricingTable-firstTable_table__pricing span:first-of-type {
       font-size: 0.35em;
       vertical-align: top;
       letter-spacing: 0.15em;
     }
  
     @media screen and (max-width: 1068px) {
       .pricingTable-firstTable_table__pricing span:first-of-type {
         font-size: 0.3em;
       }
     }
  
     .pricingTable-firstTable_table__pricing span:last-of-type {
       vertical-align: bottom;
       font-size: 0.3em;
       letter-spacing: 0.04em;
       padding-left: 0.2em;
     }
  
     @media screen and (max-width: 1068px) {
       .pricingTable-firstTable_table__pricing span:last-of-type {
         font-size: 0.25em;
       }
     }
  
     .pricingTable-firstTable_table__options {
       list-style: none;
       padding: 15px;
       font-size: 0.9em;
       border-bottom: 2px solid #ebedec;
     }
  
     @media screen and (max-width: 1068px) {
       .pricingTable-firstTable_table__options {
         font-size: 0.85em;
       }
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table__options {
         border-bottom: none;
         padding: 0;
         margin-right: 10%;
       }
     }
  
     @media screen and (max-width: 610px) {
       .pricingTable-firstTable_table__options {
         font-size: 0.7em;
         margin-right: 8%;
       }
     }
  
     @media screen and (max-width: 480px) {
       .pricingTable-firstTable_table__options {
         font-size: 1.3em;
         margin-right: none;
         margin-bottom: 10px;
       }
     }
  
     .pricingTable-firstTable_table__options>li {
       padding: 8px 0px;
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table__options>li {
         text-align: left;
       }
     }
  
     @media screen and (max-width: 610px) {
       .pricingTable-firstTable_table__options>li {
         padding: 5px 0;
       }
     }
  
     @media screen and (max-width: 480px) {
       .pricingTable-firstTable_table__options>li {
         text-align: center;
       }
     }
  
     .pricingTable-firstTable_table__options>li:before {
       content: "✓";
       display: inline-flex;
       margin-right: 15px;
       color: white;
       background-color: #74ce6a;
       border-radius: 50%;
       width: 15px;
       height: 15px;
       font-size: 0.8em;
       padding: 2px;
       align-items: center;
       justify-content: center;
     }
  
     @media screen and (max-width: 1068px) {
       .pricingTable-firstTable_table__options>li:before {
         width: 14px;
         height: 14px;
         padding: 1.5px;
       }
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table__options>li:before {
         width: 12px;
         height: 12px;
       }
     }
  
     .pricingTable-firstTable_table__getstart {
       color: white;
       border: 0;
       background-color: #71ce73;
       margin-top: 30px;
       border-radius: 5px;
       cursor: pointer;
       padding: 15px;
       box-shadow: 0px 3px 0px 0px #66ac64;
       letter-spacing: 0.07em;
       transition: all 0.4s ease;
     }
  
     @media screen and (max-width: 1068px) {
       .pricingTable-firstTable_table__getstart {
         font-size: 0.95em;
       }
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table__getstart {
         margin-top: 0;
       }
     }
  
     @media screen and (max-width: 610px) {
       .pricingTable-firstTable_table__getstart {
         font-size: 0.9em;
         padding: 10px;
       }
     }
  
     @media screen and (max-width: 480px) {
       .pricingTable-firstTable_table__getstart {
         font-size: 1em;
         width: 50%;
         margin: 10px auto;
       }
     }
  
     .pricingTable-firstTable_table__getstart:hover {
       transform: translateY(-10px);
       box-shadow: 0px 40px 29px -19px rgba(102, 172, 100, 0.9);
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table__getstart:hover {
         transform: none;
         box-shadow: none;
       }
     }
  
     .pricingTable-firstTable_table__getstart:active {
       box-shadow: inset 0 0 10px 1px #66a564, 0px 40px 29px -19px rgba(102, 172, 100, 0.95);
       transform: scale(0.95) translateY(-9px);
     }
  
     @media screen and (max-width: 767px) {
       .pricingTable-firstTable_table__getstart:active {
         transform: scale(0.95) translateY(0);
         box-shadow: none;
       }
     }
  
     body {
       font-family: "Montserrat", sans-serif;
       font-size: 100%;
       background-color: #f0f4f7;
       color: #717787;
     }
  
     @media screen and (max-width: 960px) {
       body {
         font-size: 80%;
       }
     }
  
     @media screen and (max-width: 776px) {
       body {
         font-size: 70%;
       }
     }
  
     @media screen and (max-width: 496px) {
       body {
         font-size: 50%;
       }
     }
  
     @media screen and (max-width: 320px) {
       body {
         font-size: 40%;
       }
     }
  
     * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
     }

/*  End Membership */



/* -------------------------------------------------------------
    Chekout
    ------------------------------------------------------------- */

.checkout {
  width: 270px;
  margin: 30px auto;
  padding: 15px;
  background: #f3f6fa;
  border: 1px solid;
  border-color: #c2cadb #bbc5d6 #b7c0cd;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.checkout>p {
  zoom: 1;
}

.checkout>p:before,
.checkout>p:after {
  content: "";
  display: table;
}

.checkout>p:after {
  clear: both;
}

.checkout>p+p {
  margin-top: 15px;
}

.checkout-header {
  position: relative;
  margin: -15px -15px 15px;
}

.checkout-title {
  padding: 0 15px;
  line-height: 38px;
  font-size: 13px;
  font-weight: bold;
  color: #7f889e;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #eceff5;
  border-bottom: 1px solid #c5ccdb;
  border-radius: 7px 7px 0 0;
  background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
  -webkit-box-shadow: inset 0 1px white;
  box-shadow: inset 0 1px white;
}

.checkout-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.checkout-price {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 40px;
  font: 14px/40px Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -1px;
  letter-spacing: -1px;
  background: #e54930;
  border: 1px solid;
  border-color: #b33323 #ab3123 #982b1f;
  border-radius: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: -webkit-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -moz-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -o-linear-gradient(top, #f75a3b, #d63b29);
  background-image: linear-gradient(to bottom, #f75a3b, #d63b29);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),
    0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),
    0 1px 2px rgba(0, 0, 0, 0.2);
}

.checkout-price:before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 2px solid #f5f8fb;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
}

input {
  margin: 0;
  line-height: normal;
  font-family: inherit;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.checkout-input {
  float: left;
  padding: 0 7px;
  height: 32px;
  color: #525864;
  background: white;
  border: 1px solid;
  border-color: #b3c0e2 #bcc5e2 #c0ccea;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #f6f8fa, white);
  background-image: -moz-linear-gradient(top, #f6f8fa, white);
  background-image: -o-linear-gradient(top, #f6f8fa, white);
  background-image: linear-gradient(to bottom, #f6f8fa, white);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),
    0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}

.checkout-input:focus {
  border-color: #46aefe;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
}

.lt-ie9 .checkout-input {
  line-height: 30px;
}

.checkout-name {
  width: 150px;
}

.checkout-card {
  width: 210px;
}

.checkout-exp,
.checkout-cvc {
  margin-left: 15px;
  width: 45px;
}

.checkout-btn {
  width: 100%;
  height: 34px;
  padding: 0;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-color: #1486f9 #0f7de9 #0d6acf;
  background: #1993fb;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.checkout-btn:active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #075bba #0c69d2 #0f7de9;
  background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
  background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
  background-image: -o-linear-gradient(top, #1281dc, #1593fc);
  background-image: linear-gradient(to bottom, #1281dc, #1593fc);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1),
    0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}

:-moz-placeholder {
  color: #acb6c8 !important;
}

::-moz-placeholder {
  color: #acb6c8 !important;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #acb6c8;
}

:-ms-input-placeholder {
  color: #acb6c8;
}

::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}

/* Popup container - hidden by default */
.popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Transparent black background */
  z-index: 999;
  /* Ensure it's on top */

  justify-content: center;
  align-items: center;
}

/* Base Styles (Desktop by default) */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 50%;
  /* Default width for larger screens */
  max-width: 500px;
  /* Prevent the form from getting too wide */
  text-align: center;
  position: relative;
}

.checkout-input {
  width: calc(50% - 10px);
  /* Two inputs side-by-side with spacing */
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.checkout-input.checkout-name {
  width: 100%;
  /* Name field spans full width */
}

.checkout-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #0056b3;
}

/* Responsive Adjustments */

/* For Tablets (768px and below) */
@media (max-width: 768px) {
  .popup-content {
    width: 70%;
    /* Reduce width for medium screens */
  }

  .checkout-input {
    width: 100%;
    /* Stack inputs on smaller screens */
  }
}

/* For Mobile Devices (480px and below) */
@media (max-width: 480px) {
  .popup-content {
    width: 90%;
    /* Almost full screen on mobile */
    padding: 15px;
    /* Reduce padding for smaller screens */
  }

  .checkout-title {
    font-size: 18px;
    /* Adjust title size for mobile */
  }

  .checkout-price {
    font-size: 16px;
    /* Adjust price size */
  }

  .checkout-btn {
    font-size: 14px;
    /* Smaller font for button on mobile */
    padding: 8px;
    /* Smaller padding for mobile */
  }
} 

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  display: none;
  /* Initially hidden */
}